/* homepage-Main Screen(selection1) */
.background-1 {
  background-image: url(assets/main-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}

.navbar {
  background-color: rgb(0, 0, 0);
  opacity: 0.6;
  font-size: 12px;
  font-weight: bold;
}

nav div a.navbar-brand {
  margin-left: 100px;
  margin-right: 50px;
  letter-spacing: 5px;
  font-size: 23px;
}

ul.navbar-nav {
  margin-left: 10rem;
  margin-right: 10rem;
  letter-spacing: 3px;
}

.main-content {
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.main-content h1 {
  font-size: 70px;
  letter-spacing: 0.4rem;
  word-spacing: 25px;
  font-weight: bold;
  padding-top: 2rem;
}

.main-content h3 {
  font-size: 24px;
  letter-spacing: 3px;
  word-spacing: 5px;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.main-content .btn {
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 3rem;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #f2b345;
}

.icon-main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
  margin-top: 50px;
  font-size: 10px;
}

.icon-main p {
  align-items: start;
  text-transform: uppercase;
  margin-bottom: 0;
}
/* End Main Screen */

/* Game Options(selection2) */
.background-2 {
  background-image: url(assets/the-games-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}

div.container2 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-top: 19rem;
  padding-bottom: 20rem;
  padding-left: 6rem;
  padding-right: 8rem;
}

div.describe {
  color: #ffffff;
  padding-top: 1em;
}

.container2 .describe p {
  margin-bottom: 0;
  font-size: 1.7em;
  letter-spacing: 2px;
  word-spacing: 4px;
}

.container2 .describe h2 {
  text-transform: uppercase;
  font-size: 4.4em;
  width: 30rem;
  letter-spacing: 3px;
  word-spacing: 7px;
}

div.slideshow {
  margin-top: 4.1em;
  margin-bottom: 2.4em;
}

.carousel-item img {
  padding-right: 1rem;
  padding-left: 1rem;
  height: 34em;
}
/* End Game Options */

/* Game Feature(selection3) */
.background-3 {
  background-image: url(assets/features.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 130vh;
}
div.container3 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 12em;
  margin-left: 55em;
  margin-right: 10em;
  padding-bottom: 15rem;
}
.title-feature {
  color: white;
  padding-bottom: 6em;
}
.container3 .title-feature h2 {
  font-size: 3.5em;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.container3 .title-feature h3 {
  letter-spacing: 2px;
}

.container3 .step h3 {
  color: orange;
  text-transform: uppercase;
  font-size: 24px;
  padding-bottom: 0.5em;
  letter-spacing: 3px;
}

.container3 .caption p {
  font-size: 19px;
  padding-top: 0;
  letter-spacing: 1px;
  word-spacing: 4px;
}

/* vertical stepper */
.step {
  position: relative;
  min-height: 1em;
  color: grey;
}
.title {
  line-height: 2em;
  font-weight: bold;
}
.caption {
  font-size: 0.8em;
}
.step + .step {
  margin-top: 1em;
}
.step > div:first-child {
  position: static;
  height: 0;
}
.step > div:not(:first-child) {
  margin-left: 1.5em;
  padding-left: 1.7em;
}
/* Circle */
.circle {
  background: transparent;
  position: relative;
  width: 1.2em;
  height: 1.2em;
  line-height: 1.5em;
  border-radius: 100%;
  color: #fff;
  text-align: center;
  box-shadow: 0 0 0 1.5px #fff;
}
/* Vertical Line */
.circle:after {
  content: " ";
  position: absolute;
  display: block;
  top: -65.5px;
  right: 50%;
  bottom: 1px;
  left: 50%;
  /*height: 100%;*/
  width: 1px;
  transform: scale(1, 2);
  transform-origin: 50% -100%;
  background-color: rgb(255, 255, 255);
  z-index: 1;
}
.step:last-child .circle:after {
  display: none;
}
.step:nth-child(3) .circle:after {
  display: none;
}
.step.step-active {
  color: #ffffff;
}
.step.step-active .circle {
  background-color: #ffffff;
}
/* End Game Feature */

/* System Requirements */
.background-4 {
  background-image: url(assets/requirements.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 140vh;
}
.paragraf {
  padding-top: 8em;
  color: #fff;
  font-size: 1em;
  text-transform: capitalize;
}
.container4 {
  color: #fff;
  margin-left: 7rem;
  margin-top: 6rem;
}
.container4 h2 {
  text-transform: uppercase;
  font-size: 4.5rem;
  letter-spacing: 5px;
  padding-bottom: 3rem;
}
.requirement h3 {
  color: #f2b345;
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 2px;
}
.requirement p {
  font-size: 1.5rem;
  color: #ffffff !important;
}
.container4 .table {
  border-color: #ffffff56;
}

/* Top Scores */
.background-5 {
  background-image: url(assets/top-score-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}
.container5 {
  display: flex;
  padding-top: 10em;
  margin-left: 7rem;
  margin-right: 7rem;
  padding-bottom: 10rem;
}
.top-scores {
  padding-top: 10rem;
  padding-right: 5%;
  color: #fff;
}
.top-scores h2 {
  text-transform: uppercase;
  font-size: 4rem;
  letter-spacing: 2px;
  padding-bottom: 2rem;
}
.top-scores .btn {
  font-weight: bolder;
  margin-top: 2.5rem;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 5em;
  padding-right: 5em;
}
.comment {
  display: flex;
  flex-direction: column;
  padding-left: 15%;
}
.comment img {
  width: 4em;
  border-radius: 100%;
}
.comment .card {
  background-image: url(assets/ellipse-orange.png);
  background-repeat: no-repeat;
  background-size: 4.1em;
  background-position-x: 13px;
  background-position-y: 4px;
  margin-bottom: 2rem;
}
.comment .right {
  margin-left: 8em;
}
.comment p.card-text {
  color: #fff;
  padding-top: 1em;
}
.info {
  text-transform: capitalize;
  position: absolute;
  padding-left: 7em;
}
.info h3 {
  color: #f2b345;
  padding-top: 0.5em;
  margin-bottom: -7px;
}
.info p,
.card-body .date {
  color: grey;
  margin-bottom: 0;
}
.info img {
  font-size: 5px;
  padding-top: 5em;
  margin-left: 65em;
  position: absolute;
}
/* End Top score */

/* section 6 */
.background-6 {
  background-image: url(assets/newsletter.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}
div .container6 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 110vh;
  margin-left: 1rem;
  margin-bottom: 5, 8rem;
}
.container6 .image img {
  margin-left: 1rem;
  padding-top: 10rem;
}
.container6 .text {
  display: flex;
  flex-direction: column;
  padding-top: 13rem;
  padding-left: 10rem;
  color: #fff;
}
.container6 .text h2 {
  font-size: 4rem;
  text-transform: uppercase;
  padding-top: 1rem;
  padding-bottom: 1rem
}
.container6 .text p {
  padding-bottom: 1rem;
}
form .form-control {
  background-color: #202020;
}
form #floatingInputValue {
  background-color: #202020;
  color: #f2b345;
}
.email-button .btn {
  display: flex;
  justify-content: center;
  margin-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 4rem;
  padding-right: 4rem;
}
#floatingInputValue,.form-control {
  border: none;
}
.footer {
  color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 8rem;
  padding-right: 8rem;
}
.footer-up {
  display: flex;
  justify-content: end;
}

.navigasi a {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  word-spacing: 8px;
}
.footer-close {
  display: flex;
  justify-content: space-between;
}
.left-foot {
  color: grey;
}
.right-foot {
  text-transform: uppercase;
}

/* Media query Mobile */
@media screen and (max-width: 576px) {
  /* section 1 */
  body {
    font-size: 14px;
  }
  .background-1 {
    background-image: url(assets/main-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center;
  }
  .main-content {
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 72.5%;
  }
  
  .main-content h1 {
    font-size: 30px;
    letter-spacing: 2px;
    word-spacing: 0;
    font-weight: bold;
    padding-top: 2rem;
  }
  
  .main-content h3 {
    font-size: 15px;
    letter-spacing: 1px;
    word-spacing: 3px;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .main-content .btn {
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 0.5rem;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #f2b345;
  }
  .icon-main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-top: 50px;
    font-size: 10px;
  }
  
  .icon-main p {
    align-items: start;
    text-transform: uppercase;
    margin-bottom: 0;
  }

  /* section 2 */
  .background-2 {
    background-image: url(assets/the-games-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position-x: 20%;
  }
  
  div.container2 {
    display: flex;
    justify-content: center !important;
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 0;
    align-items: center !important;
    padding-left: 3px;
    padding-right: 3px;
    height: 100%;
  }
  
  div.describe {
    color: #ffffff;
    padding-top: 1em;
    text-align: center;
    padding-bottom: 1em;
  }
  
  .container2 .describe p {
    margin-bottom: 0;
    font-size: 20px;
    letter-spacing: 2px;
    word-spacing: 4px;
  }
  
  .container2 .describe h2 {
    text-transform: uppercase;
    font-size: 50px;
    width: 30rem;
    letter-spacing: 3px;
    word-spacing: 7px;
  }
  
  div.slideshow {
    width: 300px;
    height: 150px !important;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  .carousel-item img {
    padding-right: 1rem;
    padding-left: 1rem;
    height: 150px;
  }

  /* section 3 */
  .background-3 {
    background-image: url(assets/features.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position-x: 2%;
  }
  div.container3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 0;
    margin-left: 14px;
    margin-right: 0;
    padding-bottom: 0;
    height: 100%;
  }
  .title-feature {
    color: white;
    padding-bottom: 6em;
  }
  .container3 .title-feature h2 {
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 5px;
  }
  .container3 .title-feature h3 {
    font-size: 20px;
    letter-spacing: 2px;
  }
  
  .container3 .step h3 {
    color: orange;
    text-transform: uppercase;
    font-size: 21px;
    padding-bottom: 0;
    letter-spacing: 1px;
  }
  
  .container3 .caption p {
    font-size: 19px;
    padding-top: 0;
    letter-spacing: 1px;
    word-spacing: 1px;
  }
  .container3 .caption br {
    display: none;
  }
  
  /* vertical stepper */
  .step {
    position: relative;
    min-height: 1em;
    color: grey;
  }
  .title {
    line-height: 1.5em;
    font-weight: bold;
  }
  .caption {
    font-size: 0.8em;
  }
  .step + .step {
    margin-top: 1em;
  }
  .step > div:first-child {
    position: static;
    height: 0;
  }
  .step > div:not(:first-child) {
    margin-left: 1.5em;
    padding-left: 1.7em;
  }
  /* Circle */
  .circle {
    background: transparent;
    position: relative;
    width: 1.2em;
    height: 1.2em;
    line-height: 1.5em;
    border-radius: 100%;
    color: #fff;
    text-align: center;
    box-shadow: 0 0 0 1.5px #fff;
  }
  /* Vertical Line */
  .circle:after {
    content: " ";
    position: absolute;
    display: block;
    top: -65.5px;
    right: 50%;
    bottom: 1px;
    left: 50%;
    height: 73px;
    width: 1px;
    transform: scale(1, 2);
    transform-origin: 50% -100%;
    background-color: rgb(255, 255, 255);
    z-index: 1;
  }
  .step:last-child .circle:after {
    display: none;
  }
  .step:nth-child(3) .circle:after {
    display: none;
  }
  .step.step-active {
    color: #ffffff;
  }
  .step.step-active .circle {
    background-color: #ffffff;
  }

  /* section 4 */
  .background-4 {
    background-image: url(assets/requirements.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-position-x: 58%;
  }
  .paragraf {
    color: #fff;
    font-size: 12px;
    text-transform: capitalize;
  }
  .container4 {
    color: #fff;
    margin-left: 0;
    margin-top: 6rem;
  }
  .container4 h2 {
    text-transform: uppercase;
    font-size: 45px;
    letter-spacing: 5px;
    padding-bottom: 3rem;
  }
  .requirement h3 {
    color: #f2b345;
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 2px;
  }
  .requirement p {
    font-size: 15px;
    color: #ffffff !important;
  }
  .container4 .table {
    border-color: #ffffff56;
  }

  /* section 5 */
  .background-5 {
    background-image: url(assets/top-score-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }
  .container5 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 0;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 0;
  }
  .top-scores {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0;
    padding-right: 0;
    color: #fff;
  }
  .top-scores h2 {
    text-transform: uppercase;
    font-size:45px;
    letter-spacing: 2px;
    padding-bottom: 1rem;
  }
  .top-scores .btn {
    font-weight: bolder;
    margin-top: 1rem;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 5em;
    padding-right: 5em;
  }
  .comment {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    width: 28rem;
  }
  .comment img {
    width: 4em;
    border-radius: 100%;
  }
  .comment .card {
    background-image: url(assets/ellipse-orange.png);
    background-repeat: no-repeat;
    background-size: 4.1em;
    background-position-x: 13px;
    background-position-y: 4px;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
  }
  .comment .right {
    margin-left: 4%;
  }
  .comment .card {
    margin-left: 4%;
  }
  .comment p.card-text {
    color: #fff;
    padding-top: 0.5em;
  }
  .info {
    text-transform: capitalize;
    position: absolute;
    padding-left: 5.5em;
  }
  .info h3 {
    color: #f2b345;
    padding-top: 0.5em;
    margin-bottom: -7px;
  }
  .info p,
  .card-body .date {
    color: grey;
    margin-bottom: 0;
  }
  .info img {
    font-size: 5px;
    padding-top: 5em;
    margin-left: 100%;
  }
  .card {
    width: 100vw !important;
  }
  
  /* section 6 */
  .background-6 {
    background-image: url(assets/newsletter.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }
  .image img {
    display: none;
  }
  div .container6 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 80%;
    margin-left: 0rem;
    margin-bottom: 5, 8rem;
  }
  .container6 .image img {
    margin-left: 0rem;
    padding-top: 0rem;
    display: none;
  }
  .container6 .text {
    display: flex;
    flex-direction: column;
    padding-top: 8rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: #fff;
    height: 100%;
    background-image: url(assets/skull.png);
    background-repeat: no-repeat;
    background-position-y: 50%;
  }
  .container6 .text h2 {
    font-size: 48px;
    text-transform: uppercase;
    padding-top: 1rem;
    padding-bottom: 1rem
  }
  .container6 .text p {
    padding-bottom: 12px;
  }
  form .form-control {
    background-color: #202020;
  }
  form #floatingInputValue {
    background-color: #202020;
    color: #f2b345;
  }
  .email-button .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    padding: 10px;
    font-weight: bold;
  }
  #floatingInputValue,.form-control {
    border: none;
  }
  .footer {
    color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
    height: 20%;
  }
  .footer-up {
    display: flex;
    justify-content: end;
    flex-direction: column-reverse;
    height: 50%;
  }
  
  .navigasi a {
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    word-spacing: 0;
    margin: 0 1px !important;
  }
  .sosmed {
    display: flex;
    justify-content: center;
  }
  .footer-close {
    display: flex;
    justify-content: space-between;
  }
  .left-foot {
    font-size: 12px;
    color: grey;
  }
  .right-foot {
    font-size: 12px !important;
    text-transform: uppercase;
    text-align: center;
  }
}